{% extends "base.html" %}

{% block extra_css %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project One</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">黄明<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人信息</a></li>
                            <li><a href="#">设置</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/index">观点提取</a></li>
                    <li><a href="/word_cloud">词云化</a></li>
                    <li><a href="/d3_page">d3可视化</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="page-header">新闻人物观点提取</h2>
                <div class="form-horizontal" style="margin-left: 10px">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-lg-1 control-label" style="font-size: 18px">新闻文本</label>
                        <div class="col-sm-8">
                            <textarea id="news-txt" class="form-control" rows="8"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div style="margin-left: 140px">
                            <button id="sub1" class="btn btn-info">抽取</button>
                            <div style="margin-top: 20px">
                                <input type="file" id="news-file">
                                <button id='sub2' class="btn btn-warning" style="margin-top: 5px">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin: 50px 100px 0px 130px;">
                    <p style="font-weight: 800;font-size: 16px">抽取结果</p>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="100px" style="text-align: center">ID</th>
                            <th width="120px" style="text-align: center">人物</th>
                            <th width="120px" style="text-align: center">表达</th>
                            <th width="500px" style="text-align: center">观点</th>
                        </tr>
                        </thead>
                        <tbody id="tb">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="Loading" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="text-align: center">
                抽取中，客官请稍等！
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script>
        // 页面加载完毕后执行
        $(function () {
            bindSubmit1();  //输入框提交
            bindSubmit2();  //文件形式提交
        });

        //绑定提交(textarea方式)
        function bindSubmit1() {
            $('#sub1').click(function () {
                var v = $('#news-txt').val();
                $('#Loading').modal('show'); //显示加载框
                $.ajax({
                    url: "/submit_news",
                    type: 'POST',
                    async: true,
                    dataType: "JSON",
                    data: {'news': v},
                    traditional: true,
                    success: function (arg) {
                        //arg是字符串
                        //JSON.parse将字符串转换成字典，相当于json.loads
                        // 这里arg居然是对象。。。浪费时间
                        //var dict = JSON.parse(arg);
                        if (arg.status) {
                            $('#tb').empty(); //清除前面的显示结果
                            $('#Loading').modal('hide'); //隐藏加载框
                            // console.log(arg.news);
                            var exNews = arg.news;
                            {#window.location.reload();#}
                            for (var i = 0; i < exNews.length; i++) {
                                createRow(i, exNews[i]);
                            }
                        }
                    }
                })
            })
        }

        // 绑定提交(文件提交)
        function bindSubmit2() {
            $('#sub2').click(function () {
                //基于内置的FormData实现
                var data = new FormData();
                data.append('news_file', document.getElementById('news-file').files[0]); // 获得文件对象
                $('#Loading').modal('show');
                $.ajax({
                    url: '/submit_file',
                    type: 'POST',
                    data: data,
                    success: function (arg) {
                        if (arg.status) {
                            $('#Loading').modal('hide');
                            var exNews = arg.news;
                            for (var i = 0; i < exNews.length; i++) {
                                createRow(i, exNews[i]);
                            }
                        }
                    },
                    //使用FormData,需要加上下面两个参数
                    processData: false,
                    contentType: false,
                })
            })
        }

        //添加提交，js直接创建新行,不刷新页面
        function createRow(nid, content) {
            //创建行
            var tr = document.createElement('tr');
            $(tr).attr('nid', nid);
            //id
            var tdId = document.createElement('td');
            tdId.innerHTML = nid;
            $(tr).append(tdId);
            //subject
            var tdSubject = document.createElement('td');
            tdSubject.innerHTML = content[0];
            $(tr).append(tdSubject);
            // verb
            var tdVerb = document.createElement('td');
            tdVerb.innerHTML = content[1];
            $(tr).append(tdVerb);
            // object
            var tdObj = document.createElement('td');
            tdObj.innerHTML = content[2];
            $(tr).append(tdObj);
            //将tr加进tbody内
            $('#tb').append(tr);
        }
    </script>
{% endblock %}